<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>爱游船</title>
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.min.js"></script>
<link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/fun.js"></script>
</head>
<body>
<div class="headermenu" >
	<div class="center">
		<div class="logo"></div>
		<div class="tel"><img class="imgtel" src="/img/tel.jpg" /> 服务热线：18721629596</div>
	</div>
</div>



